@import url('https://fonts.googleapis.com/css2?family=Playfair,wght@1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-image: linear-gradient(to right bottom, #b9f8f4, #c7f9fd, #d7f9ff, #e7faff, #f5fbff, #f5f8ff, #f9f4ff, #fff0f9, #ffe4e8, #ffdacd, #f7d6b1, #d8d69e);
  font-family: 'Playfair', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  font-family: 'Trocchi', serif;
  padding: 10px 0px 0px 0px;
  /*background-image: linear-gradient(180deg, rgba(32, 236, 255, 0.968),white); */
}
.home{
  background-image: linear-gradient(to right bottom, #b9f8f4, #c7f9fd, #d7f9ff, #e7faff, #f5fbff, #f5f8ff, #f9f4ff, #fff0f9, #ffe4e8, #ffdacd, #f7d6b1, #d8d69e);
  font-family: 'Playfair', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
.search{
  display: none;
}
.navbr{
  margin-left: none;
}
.sea{
  margin-left: -10vw; 
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.3);
}
.fullnav{
  margin-left: 1%;
}
.post{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footer{
  padding-bottom: 5px;
  font-weight: none;
}
#loadingpage{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#circle{
  position: absolute;
  width: 20px;
  top:42%;
  height: 20px;
  border-top: 1px solid  rgb(255, 0, 0);
  border-radius: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  animation: rotate 1s ease-in-out infinite;
}
#loading{
  font-style: italic;
  position: absolute;
  top:50%;
  height: 25px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.Nopost{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.posts{
  display: flex;
  justify-content: center;
  align-items: center;
}
.postpage{
  min-height: 100vh;
  margin-top: 10%;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
  
  margin: 10px;
}
.newpost{
  min-height: 100vh;
}

@media screen and (min-width: 991px){
  .navbr{
    margin-left: 25vw;
  }
  .sea{
    margin-left: 20vw; 
    margin-right: -50px;
  }
  .fullnav{
    margin-left: 22%;
  }
}

@media screen and (min-width: 480px) {
  .navbr{
    margin-left: 13vw;
  }
  .sea{
    box-shadow: #0b0b00;
    margin-left: 15vw;
  }
  .fullnav{
    margin-bottom: 5vh;
  }
  .App{
    height: 100vh;
  }
  .Footer{
    position: fixed;
    margin-left: 43vw;
    bottom: 0;
  }
}
a{
  padding: 5px;
  margin-bottom: 5px;
}